<div class="accordion-item">

    <div class="accordion-header">
      <button class="accordion-btn" type="button" data-ac-target="#collapseOne" data-ac-toggle="collapse" aria-labelledby="What is Frontend Mentor, and how will it help me?" aria-expanded="false" aria-controls="collapseOne">
        <span class="accordion-btn__text">
          What is Frontend Mentor, and how will it help me?
        </span>
        <span class="icon">
          <img src="./assets/images/icon-minus.svg" alt="Icon">
        </span>
      </button>
    </div>

    <div class="accordion-collapse hide" id="collapseOne">
      <div class="accordion-body">
        <span>
          Frontend Mentor offers realistic coding challenges to help developers improve their 
          frontend coding skills with projects in HTML, CSS, and JavaScript. It's suitable for 
          all levels and ideal for portfolio building.
        </span>
      </div>
    </div>

  </div>

  <div class="accordion-item">

    <div class="accordion-header">
      <button class="accordion-btn" type="button" data-ac-target="#collapseOne" data-ac-toggle="collapse" aria-labelledby="What is Frontend Mentor, and how will it help me?" aria-expanded="false" aria-controls="collapseOne">
        <span class="accordion-btn__text">
          What is Frontend Mentor, and how will it help me?
        </span>
        <span class="icon">
          <img src="./assets/images/icon-minus.svg" alt="Icon">
        </span>
      </button>
    </div>

    <div class="accordion-collapse hide" id="collapseOne">
      <div class="accordion-body">
        <span>
          Frontend Mentor offers realistic coding challenges to help developers improve their 
          frontend coding skills with projects in HTML, CSS, and JavaScript. It's suitable for 
          all levels and ideal for portfolio building.
        </span>
      </div>
    </div>

  </div>

  <div class="accordion-item">

    <div class="accordion-header">
      <button class="accordion-btn" type="button" data-ac-target="#collapseOne" data-ac-toggle="collapse" aria-labelledby="What is Frontend Mentor, and how will it help me?" aria-expanded="false" aria-controls="collapseOne">
        <span class="accordion-btn__text">
          What is Frontend Mentor, and how will it help me?
        </span>
        <span class="icon">
          <img src="./assets/images/icon-minus.svg" alt="Icon">
        </span>
      </button>
    </div>

    <div class="accordion-collapse hide" id="collapseOne">
      <div class="accordion-body">
        <span>
          Frontend Mentor offers realistic coding challenges to help developers improve their 
          frontend coding skills with projects in HTML, CSS, and JavaScript. It's suitable for 
          all levels and ideal for portfolio building.
        </span>
      </div>
    </div>

  </div>